<main class="container">
  <div class="header">
    <h1>Articles</h1>
    <div data-controller="search">
      <input data-search-target="keyword" data-action="input->search#input" type="text">
      <button data-action="click->search#clear">Clear</button>
    </div>
  </div>
  <%= render @articles %>
</main>
