<main class="container">
  <%= link_to sanitize("&larr; Back to articles"), articles_path %>
  <div class="header">
    <h1>
      <%= turbo_frame_tag @article do %>
        <%= @article.text %>
      <% end %>
    </h1>
  </div>
</main>
