<main class="container">
  <%= link_to sanitize("&larr; Back to articles"), person_articles_path(current_person) %>
  <div class="header">
    <h1>
      <%= @article.text %>
    </h1>
  </div>
</main>
